<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>177565939105-6p7qo3javpo59219bdbofgrfmd61o4ll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177565939105-6p7qo3javpo59219bdbofgrfmd61o4ll</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>177565939105-k90r1uulbn9u0prm0jnmtc625b5bpemp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbDxjYmwQO3jx2DrjCX2vE9wXHOEc7AWg</string>
	<key>GCM_SENDER_ID</key>
	<string>177565939105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobifone5.vas</string>
	<key>PROJECT_ID</key>
	<string>notification-vas</string>
	<key>STORAGE_BUCKET</key>
	<string>notification-vas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177565939105:ios:af3fb56e2376eee8</string>
	<key>DATABASE_URL</key>
	<string>https://notification-vas.firebaseio.com</string>
</dict>
</plist>